<h1>Where Did You See The Officer?</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@officer, url: reportofficer_path) do |f| %>
      
      <%= f.label :officer_latitude %>
      <%= f.text_field :lat, class: 'form-control' %>

      <%= f.label :officer_longitude%>
      <%= f.text_field :long, class: 'form-control' %>

      <%= f.submit "Report", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', officers_path %>
