<% provide(:title, @user) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="">
  <%= link_to "Report the Location of Your Car", locateYourCar_path(:user_id => @user.id), class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <%= link_to "Report the Location of Officer", reportofficer_path, class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <%= link_to "My Cars", showYourCar_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="map-wrapper" style="margin-top: 20px; margin-bottom:20px">
  <div id="map" style="height: 430px">
    <script>
     var map, bounds;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 34.03, lng: -118.15}, /* los angeles */
         scrollwheel: false,
         zoom: 16
       });

       var allCars = JSON.parse("<%= (@user.car.collect {|c| [c.lat, c.long]}).to_json %>");
       console.log(allCars);

       bounds = new google.maps.LatLngBounds();
       allCars.forEach(function(latlng) {
         var marker = new google.maps.Marker({
           position: {lat: latlng[0], lng: latlng[1]},
           map: map
         });
         bounds.extend(marker.position);
       });
       if (allCars.length > 0) {
         map.setCenter(bounds.getCenter());
         map.fitBounds(bounds);
       }
     }
    </script>
    <!-- Colin's google maps api key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQkN_qJiypesT-pr5vj0k9AyED7OsT4cU&callback=initMap"
            async defer></script>
  </div>
</div>
