<%- unless @lat_lng %>
  <script>getGeoLocation();</script>
<%- end %>

<h1>Your Car Location?</h1>

<div class="map-wrapper" style="margin-top: 20px; margin-bottom:20px">
  <div id="map" style="height: 430px">
    <script>
      var map, bounds, marker;
      var lat = parseFloat(<%= cookies[:lat_lng].split("|")[0] %>);
      var long = parseFloat(<%= cookies[:lat_lng].split("|")[1] %>);

      function initMap() {
        var lat_long = {lat: lat, lng: long};
        map = new google.maps.Map(document.getElementById('map'), {
         zoom: 16,
         center: lat_long
        });

        bounds = new google.maps.LatLngBounds();
        marker = new google.maps.Marker({
         position: lat_long,
         map: map,
         draggable: true
        });

        marker.addListener('click', toggleBounce);
        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'dragend', function (event) {
          lat = this.getPosition().lat();
          long = this.getPosition().lng();
          $(document).ready(function(){
            $("#latitude").val(lat);
            $("#longitude").val(long);
          });
        });
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      $(document).ready(function(){
        $("#latitude").val(lat);
        $("#longitude").val(long);
      });
      
    </script>
<!-- Colin's google maps api key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQkN_qJiypesT-pr5vj0k9AyED7OsT4cU&callback=initMap"
    async defer></script>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@car, url: locateYourCar_path) do |f| %>
      <%= f.hidden_field :lat ,:id=>"latitude" %>
      <%= f.hidden_field :long ,:id=>"longitude" %>
      <%= f.submit "Locate My Car", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', user_path(current_user.id) %>
